html,
body{
    background-color: rgba(0, 255, 255,.3);  
}
html{
    padding-bottom: 2em;
}
body{
    margin: .2em;
    background-color: rgba(0,0,0,.2);
    border-radius: .3em;
}
h1{
    text-align: center;
    margin: .3em;
    border-radius: .14em;
}
.navbar{
    border-radius: .2em;

}

.footer{
    width: 90vw;
    margin: auto;
    background-color: rgba(150, 129, 129,.5);
}

.error_404{
    background-color: cadetblue;
    width: 96%;
    height: 100%;
    margin: auto;
    padding-bottom: 2em;

}
.error_404 h1,
.error_404 h2{
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
}
.error_404 h1{
    font-size: 200px;
}

.card{
    position: absolute;
    right: 40px;
    top: 50%;
    border-radius: .7em;
}
.card:hover .card-body{
    background-color: rgba(5, 22, 22, 0.18);
}
.card-body{
    border-radius: .5em;

    background-color: rgba(5, 22, 22, 0.14);
}

