<%- include("template/head", {tituloWeb: "Página de inicio"}) %>
<body>
    <h1 class="btn-danger w-50 mx-auto">Este es mi EJS.....</h1>
    <h2><%= titulo %></h2>


<%- include("template/footer") %>
